<%- include('../layouts/adminheader.ejs') %>
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">ADD COUPEN</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="" method="post" class="tm-edit-product-form">
                <div class="form-group mb-3">
                  <label
                    for="name"
                    >CODE
                  </label>
                  <input
                    id="name"
                    name="code"
                    type="text"
                    value=""
                   
                    class="form-control validate"
                    
                  />
                </div>
                <div class="form-group mb-3">
                  <label
                    for="name"
                    >DISCOUNT
                  </label>
                  <input
                    id="name"
                    name="discount"
                    type="text"
                    value=""
                    
                    class="form-control validate"
                  />
                </div><div class="form-group mb-3">
                  <label
                    for="name"
                    >MaxRedeemAmount
                  </label>
                  <input
                    id="name"
                    name="maxamount"
                    type="text"
                    value=""
                    class="form-control validate"
                    
                  />  
            
							 
						
                </div><div class="form-group mb-3">
                  <label
                    for="name"
                    >MinPurchaseAmount
                  </label>
                  <input
                    id="name"
                    name="minpurchase"
                    type="text"
                    value=""
                    class="form-control validate"
                    
                  />
                </div>
         
               
                
                
                        

                
               
                   
                     
                </div>
                
            </div>
            
            
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block text-uppercase">ADD COUPEN</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../layouts/adminfooter.ejs') %>