<script src="js/jquery-3.3.1.min.js"></script>
<script src="https://kit.fontawesome.com/d4801b7ff5.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<script src="/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/tooplate-scripts.js"></script>
<script src="https://kit.fontawesome.com/d4801b7ff5.js" crossorigin="anonymous"></script>
<!-- https://getbootstrap.com/ -->
</body>
</html>

</section>