<%- include('../layouts/header.ejs') %>


<section class="vh-100 bg-image mb-5" style="background-image: url(''); ">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <% if(typeof message !=='undefined') { %>

								<p style="color: rgb(208, 0, 0)">
								<%= message %> </p>
								<% } %>

              <form method="post" action="" onsubmit = "return a()">
              
              
                <div class="form-outline mb-4">
         
          <input type="username" class="form-control" placeholder="username" name="name" required>
        </div> 
                
                <div class="form-outline mb-4">
                 
              <input  class="form-control"  id="email1" type="email" placeholder="Email" name="email" required>
              <p id="message1" style="color: rgb(255, 0, 0);"> </p>
             
        </div> 
                
                <div class="form-outline mb-4">
                  <input  class="form-control" type="password"  placeholder="Password" name="password" id="password1" required>
                </div>
                
                <div class="form-outline mb-4">
                     <input  class="form-control" type="password" placeholder="Password" name="password2" id="password2" required>
                </div>
                <div class="form-outline mb-4">
                  <input  class="form-control" type="text" placeholder="Mobile" name="mno" required>
                </div>
                <p id="message" style="color: rgb(255, 0, 0);"> </p>
                <div class="d-flex justify-content-center">
                  <button type="submit"   onclick= "checkpassword()" class="btn  btn-block btn-lg gradient-custom-4 text-body" style="background-color:#7fad39; ;"> <p
                      style="color: white;">Register</p> </button>
                </div>
                <div class="mt-3">

                </div>
                <div class="error messages mx-4" style="color: red;">
               
                </div>


                <!-- <div class="error messages" id="msg">
                  {% for field in form %}
                   
                      {% for error in field.errors %}
                        <small style="color: red">{{ error }}</small> <br>
                      {% endfor %}
                  {% endfor %} -->

                
 
              
           
                <!-- {% comment %} <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> {% endcomment %} -->
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="height: 12rem;">

</div>
    
      <%- include('../layouts/footer.ejs') %>